/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

:root {
    --darker-gray: #121212;
    --base-yellow: #ff002b;
}

/* Navbar Styles */
.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--darker-gray);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}

.logo-container {
    flex: 1;
}

.logo {
    height: 7rem;
    width: 7rem;
}

.menu-container {
    flex: 6;
}

.menu-list {
    display: flex;
    list-style: none;
}

.menu-list.active {
    max-height: 500px;
    display: flex;
    list-style-type: none;
}

.menu-list-item {
    margin-right: 30px;
    padding: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu-list-item.active {
    font-weight: bold;
    color: var(--base-yellow);
}

/* Search Styles */
.search-container {
    margin-right: 1rem;
}

.search-bar {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 12px;
    outline: none;
    font-size: 14px;
    color: black;
}

.search-bar.light-mode {
    border: 1px solid black;
}

/* Search Results */
.search-results {
    position: absolute;
    display: none;
    top: 45px; 
    width: 25vw;
    background-color: var(--darker-gray);
    border-radius: 8px;
    list-style: none;
    padding: 1rem;
    max-height: 300px; 
    overflow-y: auto; 
    z-index: 1000;
}

.search-results.light-mode,
.main-container.light-mode,
.active.light-mode li {
    background-color: white;
    color: black;
}

.navbar-container.light-mode a {
    color: black;
}

.navbar-container.light-mode a.active {
    color: var(--base-yellow);
}

.main.light-mode {
    background-color: aliceblue;
}

.search-results li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
}

.search-results li:hover {
    background-color: #343434;
    cursor: pointer;
}

.search-results img {
    width: 40px;
    height: 60px;
    border-radius: 4px;
    margin-right: 10px;
    object-fit: cover;
}

.search-results p {
    margin: 0;
    font-size: 16px;
}

/* Toggle Mode Styles */
.toggle-mode {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon {
    color: var(--base-yellow);
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.navbar-container.light-mode,
.slider-container.light-mode,
.main-container.light-mode,
.menu-button.light-mode {
    background-color: white;
    color: black;
}

.toggle-ball.active {
    right: 20px;
    background-color: var(--base-yellow);
}

/* Main Content Styles */
.main {
    display: flex;
    background-color: black;
    height: fit-content;
    padding: 2rem;
    gap: 12px;
}

.main-container {
    width: 100%;
    background-color: var(--darker-gray);
    color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin: 2rem auto;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    margin-bottom: 1rem;
    color: var(--base-yellow);
    font-family: 'Sen', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
}

ul {
    margin-left: 20px;
    line-height: 1.5;
}

li {
    margin-bottom: 0.5rem;
}

/* Menu Button Styles */
.menu-button {
    display: none;
    margin-right: 2rem;
    background: none;
    border: none;
    color: white;
    font-size: 24px; 
    cursor: pointer;
}

.menu-button.light-mode {
    color: var(--darker-gray);
}

/* Media Queries */
@media (max-width: 940px) {
    .menu-list {
        display: none;
    }

    .menu-list {
        display: none; 
        flex-direction: column; 
        position:absolute;
        text-align: center;
        background-color: var(--darker-gray); 
        border-bottom: 1px solid black;
        top: 50px; 
        right: 0; 
        width: 100%; 
        z-index: 1000;
    }

    .search-results{
        max-width: 40vw;
        overflow-x: hidden;
    }

    li{
        margin: 0;
        padding: 0.2rem;
    }

    .menu-list-item {
        padding: 10px 20px; 
        text-align: center; 
    }

    .menu-button {
        display: block;
    }

    .main-container {
        padding: 1rem;
    }

    .search-results {
        width: fit-content;
        border: 1px solid var(--darker-gray);
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p, li {
        font-size: 1rem;
    }
}
